# Archivos temporales 
*.tmp 
*.log 
ECHO est  activado.
# Dependencias de Node.js 
node_modules/ 
ECHO est  activado.
# Entornos virtuales de Python 
venv/ 
ECHO est  activado.
# Configuraci¢n de VSCode 
.vscode/ 
ECHO est  activado.
# Archivos del sistema 
.DS_Store 
Thumbs.db 
